@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff);
}*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: normal;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  position: relative;
}
h1 {
  height: 64px;
  line-height: 60px;
  margin: 0;
  font-weight: bold;
}
/**
*NAVBAR
**/
@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    padding: 0;
    margin: 15px 0 -15px 0;
    margin-left: 0;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.navbar {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.navbar a:focus {
  outline: 0;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: 0;
}
.navbar-default,
.navbar-inverse {
  border: 0;
}
nav {
  opacity: 0;
  height: 50px;
}
.displayed {
  display: inline;
}
.not-displayed {
  display: none;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}
.nav.navbar-nav.navbar-right {
  margin-top: -25px;
}
.navbar-header {
  margin-top: -25px;
}
#presentation {
  position: relative;
  top: 50px;
}
.viewer {
  width: 100%;
  height: 100%;
  margin-top: -64px;
  margin: 0 auto;
  clear: both;
  position: relative;
  text-align: center;
}
.viewer #map_canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  top: -32px;
  margin-bottom: 8px;
}
.viewer .shadow {
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 380px;
  top: 0;
  right: 64px;
  padding: 16px 32px;
  color: white;
  text-align: left;
  font-size: 14px;
}
.viewer#map {
  position: absolute;
  top: 100%;
  transition: top .3s;
}
.viewer#map .mapbar {
  width: 100%;
  height: 64px;
  top: -96px;
  position: absolute;
  z-index: 50;
  background: white;
  font-size: 36px;
  text-align: left;
  padding-left: 16px;
  line-height: 60px;
  cursor: pointer;
  font-weight: bold;
}
.shadow_map {
  box-shadow: 0 8px 10px -10px rgba(64, 64, 64, .8);
}
.piti {
    font-size: 0.4em;
    vertical-align: top;
    margin-left: 16px;
    opacity: 1;
    transition: opacity .3s;
}
.viewer#map .dropdown-menu {
  text-align: left;
}
.viewer#map .panel {
  position: absolute;
  top: 64px;
  left: 16px;
  width: 30%;
  max-height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  font-size: 14px;
  display: none;
}
.viewer#map .panel .panel-heading .right {
  float: right;
  opacity: 1;
  width: 8px;
  line-height: 20px;
  cursor: pointer;
}
.viewer#map .panel .item {
  margin-bottom: 16px;
}
.viewer#map .panel .item .stars {
  float: right;
  color: gold;
  line-height: 14px;
}
.viewer#map .panel .item .mini {
  width: 100px;
  height: 75px;
  float: left;
  margin-right: 8px;
}
.viewer#map .panel .item h3 {
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 4px;
}
.viewer#map .right {
  float: right;
  padding-right: 16px;
  opacity: 0;
  transition: opacity .3s;
}
.viewer .ico {
  position: absolute;
  top: 16px;
  left: 16px;
}
.viewer .ico button {
  font-size: 14px;
  width: 32px;
  height: 32px;
}

#showMap {
  margin-top: 10px;
  margin-left: 20%;
  color: black;
  border: none;
  border-radius: 5px;
  background-color: white;
  opacity: 0.75;
  font-size: 16px;
  line-height: 210%;
}

#showMap i {
  vertical-align: middle;
  font-size: 30px;
}
