@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff);
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: normal;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  position: relative;
}
h1 {
  height: 64px;
  line-height: 60px;
  margin: 0;
}
.viewer {
  width: 100%;
  height: 100%;
  margin-top: -64px;
  margin: 0 auto;
  clear: both;
  position: relative;
  text-align: center;
}
.viewer iframe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom: 8px;
}
.viewer.map {
  position: absolute;
  top: 100%;
}
.viewer.map .mapbar {
  width: 100%;
  height: 64px;
  top: -64px;
  position: absolute;
  background: white;
  font-size: 36px;
  text-align: left;
  padding-left: 16px;
  line-height: 60px;
  cursor: pointer;
}
.viewer .ico {
  position: absolute;
  top: 16px;
  right: 16px;
}
.viewer .ico button {
  font-size: 14px;
  width: 32px;
  height: 32px;
}
