@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff);
}*/
html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; // Makes webpage freeze once the top navbar appears */
}
body {
    /* text-align: center; // breaks portfolio hover */
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: normal;
    color: #2c3e50;
    height: 100%;
    width: 100%;
    position: relative;
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
}
h1 {
    height: 64px;
    line-height: 60px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
p {
    font-size: 20px;
}
p.small {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: white;
}

.white {
    color: white;
}

.description {
    padding: 25px 0 50px 0px;
    text-align: center;
}

#bs-example-navbar-collapse-1 > ul > li > div > ul {
    background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0 0 35px 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;

}
hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}
hr.white-star{
    background-image: url('../img/white-star.png');
}
hr.star-light {
    border-color: #fff;
}
hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}
hr.star-primary {
    border-color: #2C3E50;
}
hr.star-primary:after {
    color: #2C3E50;
    background-color: #fff;
}
nav .navbar .navbar-default .navbar-fixed-top > .container{
    padding:0;
    margin:0;
}
.img-centered {
    margin: 0 auto;
}

/*
* Splash Page
*/

#splash {
    display: block;
    text-align: center;
    color: #fff;
    z-index: -1;
    height: 100%;
    xmin-height: 1900px;
    background-image: url("../img/montreal9.jpg");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

}

#splash p {
    text-align: left;
    margin: 25px 25px 0 25px;
}
#splash .container {
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    /*width: 800px;*/
}
#splash .control-group{
    display:inline;
}
#splash img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}

#splash .intro-text{
    padding: 15px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    min-width: 300px;
    margin: 0 auto;
}
.container.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.splash-text {
    min-width: 300px;
    display: block;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 30px;

}
.well {
     background-color:transparent;
     border: 0px;   
     margin: 0 auto;
}
.span12 {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
#subscribe {
    background-color: white;
    xbackground-color: #233140;
    color: white;
    color: #18bc9c;
    border: 1px solid #233140;
}
#subscribe:hover {
    background-color: #18bc9c;
    color: white;
}
.email-length {
    width: 600px;
    color: #233140;
    padding: 5px;
}
.well input[type="text"]
{
    font-size:19px;
}
.language-select {
    margin-top: 3px;
    border-radius: 10px;
    background-color: white;
}
.language-select:hover {
    margin-top: 3px;
    border-radius: 10px;
    background-color: #18bc9c;
}

.language-select a {
    color: #233140;
}

.language-select a:hover {
    border-radius: 10px;
    background-color: #18bc9c;  
    color: white;
}

#photocredit {
    font-size: 18px;
    padding-right: 5px;
    text-align: right;

}
@media(max-width:671px) {
    #splash {
        height: 1500px;
        min-height: 1500px;
    }
    
    #splash h1 {
        padding: 55px;
        font-size: 20px;
        margin-bottom: 55px;
        line-height: 50px;
    }
    
    .email-length {
        width: 300px;
        color: #233140;
        padding: 5px;
    }
    
    .about {
        margin-top: 250px;
    }
    #photocredit {
        font-size: 15px;
        padding-right: 5px;
        text-align: right;
        padding-top: 25px;

    }
    .downarrow {
        bottom: 50px;
        margin-left: 10px;
    }
}
/**
*HEADER
**/
header {
    text-align: center;
    color: #fff;
    z-index: -1;
    height: 100%;
    min-height: 900px;
    background-image: url("../img/montreal9.jpg");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

}
header .container {
    padding-top: 0px;
    padding-bottom: 50px;
    /*width: 800px;*/
}
header .control-group{
    display:inline;
}
header img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}
header .gps-image {
    width: 600px;
    display: block;
    border-color: rgba(42,68,80,1);
    border-width: 5px;
    border-style: solid;
    margin: 0 auto 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}
header .intro-text{
    margin-top: 150px;
    padding: 15px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    width: 625px;
    margin: 0 auto;
}
.container.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
header .intro-text-form{
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    width: 625px;
}
header .intro-text .name {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}
header .intro-text hr.star-light{
    background-color: transparent;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    width: 500px;
    padding: 0 15 0 15px;
}
header .log-form{
    margin: 0 auto;
    color:#233140;
    max-width: 80%;
}
header fieldset{
    margin-top: 50px;
}
header .log-form label,
header .checkbox{
    color:#fff;
}
header #submit{
    float: right;
}
header #submit:hover{
    background-color:#233140;
    color:#fff;
}
header .form-control{
    color:#233140;
}
header .form-control::-moz-placeholder {
    color:rgba(44,62,80,0.5);
}
header .form-control::-webkit-input-placeholder {
    color:rgba(44,62,80,0.5);
}
header .form-control:-moz-placeholder {
    color:rgba(44,62,80,0.5);
}
header .form-control:-ms-input-placeholder {
    color:rgba(44,62,80,0.5);
}
.fa-arrow-down {
    font-size: 50px;
    color: white;
}
.fa-arrow-down:hover {
    color:#18bc9c;
    text-decoration: none;
}

/**
* Portfolio Hover Over
*/

span.title {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(35,49,64,.8);
    text-align: center;
    padding: 5px 0 4px;
    font-size: 14px;
    color: white;
    font-family: "Lucida Sans", "Trebuchet MS", Arial, sans-serif;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


@media(min-width:768px) {
    header .container {
        padding: 50px 0 0px;
    }

    header .intro-text .name {
        font-size: 4.4em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}
@media(max-width: 768px){
    .tab>ul>li{
        display:block;
        border-style: solid;
        border-width:10px;
        border-radius: 9px;
        border-color: black;
        float:left;
        margin:0;
        width:100%;
        clear: both;
    }
    .neigh{
        -webkit-border-top-left-radius: 1px;
        -moz-border-radius-topleft: 1px;
        border-top-left-radius: 1px;
    }
}
/**
*NAVBAR
**/
@media (min-width: 768px) {
    .navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-toggle{
        margin-top: 5px;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 25px;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

}

@media(max-width: 767px) {
    header {
        height: none;
        min-height: none;
    }

    .nav.navbar-nav.navbar-right{
        background-color: #2C3E50;
    }
    header {
        text-align: center;
        color: #fff;
        z-index: -1;
        height: 100%;
        background-image: url("../img/montreal9.jpg");
        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;      /* Opera*/
        background-size: cover;         /* Generic*/
    }
    header.index {
        min-height: 580px;
        max-height: 580px;
    }
    header .gps-image {
        width: 415px;
        display: block;
        border-color: rgba(42,68,80,1);
        border-width: 5px;
        border-style: solid;
        margin: 0 auto 20px;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -khtml-border-radius: 30px;
        -webkit-border-radius: 30px;
    }

    header .intro-text{
        padding: 15px;
        color:#fff;
        background:rgba(35,49,64,.8);
        border-radius: 20px;
        width: 435px;
        margin: 0 auto;
    }
    header .intro-text-form {
        padding: 15px;
        color:#fff;
        background:rgba(35,49,64,.8);
        border-radius: 20px;
        width: 435px;
        margin: 0 auto;
        margin-top: 15px;
    }
}

@media(max-width: 480px) {
    .navbar-fixed-top .navbar-brand {
        font-size: 23px;
    }
    /*.navbar-header {
        padding-top: 24px;
    }*/
    .nav.navbar-nav.navbar-right{
    /*padding-top: 24px;*/
    background-color: #2C3E50;
    }
    header {
        text-align: center;
        color: #fff;
        z-index: -1;
        height: 100%;

        background-image: url("../img/montreal9.jpg");
        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;      /* Opera*/
        background-size: cover;         /* Generic*/
    }
    header.index {
        min-height: 480px;
        max-height: 480px;
    }
    header .gps-image {
        width: 300px;
        display: block;
        border-color: rgba(35,49,64,.8);
        border-width: 5px;
        border-style: solid;
        margin: 0 auto 20px;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -khtml-border-radius: 30px;
        -webkit-border-radius: 30px;
    }

    header .intro-text {
        padding: 0 15px 0 15px;
        color:#fff;
        background:rgba(35,49,64,.8);
        border-radius: 20px;
        width: 325px;
        margin: 0 auto;
    }

    header .intro-text-form {
        padding: 15px 15px 0 15px;
        color:#fff;
        background:rgba(35,49,64,.8);
        border-radius: 20px;
        width: 325px;
        margin: 0 auto;
        margin-top: 15px;
    }
    header .col-lg-12{
        padding:0;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.navbar-collapse {
    border-top: 0px solid transparent;
}
.navbar a:focus {
    outline: 0;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar .navbar-nav li a{
    font-size: 1.3em;
}

.navbar .navbar-nav ul a{
    font-size: 1em;
    xcolor:#2c3e50;
}

.navbar .navbar-nav .white {
    color:#2c3e50;
    background-color: red;
}
.navbar .navbar-nav ul a:hover{
    font-size: 1em;
    color: white;
}
.navbar .navbar-nav li a:hover {
    outline: 0;
    background-color: #233140;
}
.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-toggle {
    color: white;
    background-color: #233140;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}
nav {
    opacity: 1;
    margin-bottom: -20px;
    padding-right: 25px;
}

.displayed {
    display: inline;
}
.not-displayed {
    display: none;
}

.container {
    top: 15px;
    /*
    position: relative;
    top: 5%;
    transform: translateY(-5%);
    */
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-header {
    xmargin-top: -13px;
}

.my-navbar-default{
    background-color:#2C3E50;
    color: white;
}

.nav-profile-picture{
    height: 40px;
    width: 40px;
    margin-top: -7px;
}

.fa-gear{
    background-color:#2C3E50;
}

/**
* Neighbourhood Map Viewer (Quartier))
**/

#presentation {
    position: relative;
    height: 100%;
    top: 45px;
    box-shadow: 0 8px 10px -10px rgba(64, 64, 64, .8);
}
.viewer {
    width: 100%;
    margin-top: -64px;
    margin: 0 auto;
    clear: both;
    position: relative;
    text-align: center;
}
@media(max-width: 570px) {
    .viewer .shadow-main h2 {
        font-size: 20px;
    }
}
#viewer-top {
    background-image: url('../img/mont3.jpg');
    background-size: cover;
    height: 84%;
    overflow-y: auto;
}
#map {
    height: 100%;
}
.viewer #map_canvas {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    top: -32px;
    margin-bottom: 8px;
}
.viewer .shadow {
    float: left;
    background: rgba(35,49,64,.8);
    width: 19.79%;
    min-width: 200px;
    max-height: 80%;
    overflow: auto;
    left: 64px;
    padding: 16px 32px;
    color: white;
    text-align: left;

    /* Test stuff */
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    xwidth: 435px;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 32px;
}
@media(max-width: 710px){
    .viewer .mapbar .right {
        display: none;
    }
}
@media(max-width: 1140px) {
    .viewer .shadow h2 {
        font-size: 20px;
    }
}
.shadow > p {
    font-size: 14px;
}
.viewer .shadow img {
    max-width: 90%;
}
#presentation-menu {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -5px;
}
.next-neighbourhood-name {
    display: inline;
    height: 60px;
}
@media(max-width: 892px) {
    .next-neighbourhood-name {
        display: none;
    }
}
#presentation-menu h1 {
    margin: 0 auto;
    text-align: center;
}
.fa-arrow-right {
    margin-left: -10px;
}
span.right {
    display: block;
    text-align: center;
}
span.right a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 32px;
    xwidth:80px;
    padding: 0 20px;
    height:70px;
    line-height:80px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}
#presentation-menu\20 > span > a:nth-child(5) {
    color: #475a6d;
    font-size: 20px;
}
#presentation-menu\20 > span > a:nth-child(1) {
    color: #475a6d;
    font-size: 20px;
}
.next-neighbourhood {
    display: inline;
    font-size: 20px;
    color: white;
}
#presentation h1 {
    display: inline;
}
#presentation-menu a {
    margin-top: -30px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #2c3e50;
}
#presentation-menu ul li a  {
    color: white;
    text-transform: none;
}
.fa-arrow-left {
    vertical-align: middle;
}
.viewer .shadow-main {
    float: left;
    background: rgba(35,49,64,.8);
    width: 60%;
    min-width: 300px;
    max-height: 80%;
    padding: 16px 32px;
    color: white;
    text-align: left;
    font-size: 14px;
    margin: 0 100px 0 0;
    overflow: auto;

    /* Test stuff */
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    xwidth: 435px;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 32px;
}
@media(max-width: 660px){
    .viewer .shadow {
        width: 90%;
        height: 36%;
        margin-left: 5%;
        margin-top: 5px; 
    }
    .viewer .shadow-main {
        width: 90%;
        height: 37%;
        margin-left: 5%;
        margin-top: 5px;
    }
    .viewer#map .panel {
        height: 50%;
        width: 60%; 
    }
}
@media(max-width: 400px){
    .navbar-fixed-top .navbar-brand {
        font-size: 20px;
    }
    .viewer .shadow {
        width: 99%;
        height: 39.5%;
        margin-left: 0.5%;
        margin-top: 5px; 
    }
    .viewer .shadow-main {
        width: 99%;
        height: 40%;
        margin-left: 0.5%;
        margin-top: 5px;
    }
    #presentation-menu h1 {
        font-size: 20px;
    }
    #presentation-menu .fa-arrow-left {
        margin-top: 5px;
        font-size: 20px;
    }
    #presentation-menu .fa-arrow-right {
        padding-left: 5px;
        margin-top: 5px;
        font-size: 20px;
    }
}
.viewer .shadow-main img {
    max-width: 90%;
}
.viewer .shadow-column {
    width: 25%;
    float: left;
    padding: 0 33px;
}
.place {
    min-height: 110px;
}
.viewer#map {
    position: absolute;
    top: 96%;
    transition: top .3s;
}
.viewer#map .mapbar {
    width: 100%;
    height: 64px;
    top: -96px;
    position: absolute;
    z-index: 50;
    background: white;
    font-size: 36px;
    text-align: left;
    padding-left: 16px;
    line-height: 70px;
    cursor: pointer;
    font-weight: bold;
}
.viewer#map .mapbar a {
    width:80px;
    height:80px;
    line-height:80px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    margin-top: -5px;
}
span.small {
    font-size: 15px;
}
.shadow_map {
  box-shadow: 0 8px 10px -10px rgba(64, 64, 64, .8);
}
.piti {
    font-size: 0.4em;
    vertical-align: top;
    margin-left: 16px;
    opacity: 1;
    transition: opacity .3s;
}
.viewer#map .dropdown-menu {
    text-align: left;
}
.viewer#map .panel {
    position: absolute;
    top: 39px;
    left: 16px;
    width: 30%;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    font-size: 14px;
    display: none;
}
@media(max-width: 400px){
    .viewer#map .panel {
        left: 2.5%;
        height: 35%;
        width: 95%;
    }
}
.viewer#map .panel p {
    font-size: 15px;
}
.viewer#map .panel .panel-heading .center {
    text-align: center;
    opacity: 1;
    width: 700px;
}
.viewer#map .panel .panel-heading .right {
    float: right;
    opacity: 1;
    width: 8px;
    line-height: 20px;
    cursor: pointer;
}
.viewer#map .panel .item {
    margin-top: 32px;
    cursor: pointer;
}
.viewer#map .panel .item:first-child {
    margin-top: 0;
}
.viewer#map .panel .item .stars {
    float: right;
    color: gold;
    line-height: 14px;
}
.viewer#map .panel .item .mini {
    width: 100px;
    height: 75px;
    float: left;
    margin-right: 8px;
}
.viewer#map .panel .item h3 {
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 4px;
}
.viewer#map .center {
    text-align: center;
    padding-right: 16px;
    opacity: 0;
    width: 700px;
    transition: opacity .3s;
}
.viewer#map .right {
    float: right;
    text-align: center;
    padding-right: 16px;
    opacity: 0;
    transition: opacity .3s;
}
.viewer .ico {
    position: absolute;
    margin-top: -25px;
    top: 16px;
    left: 16px;
}
.viewer .ico button {
    font-size: 14px;
    width: 32px;
    height: 32px;
}

#showMap {
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
    opacity: 0.75;
}

#showMap:hover {
    cursor: pointer;
}
.panel-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70%;
}
.slideBottom {
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item {
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio-item img {
    width: 400px;
    height: 200px;
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/**
*FORMULAIRE CONTRIBUTE
**/
.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    color:white !important;
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    color:#13987E;
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    color:#13987E;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #fff;
    color:#13987E;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}
#contribute{
    background-color: #18bc9c;
}
#contribute h2{
    color:#fff;
}
.btn-success{
    background-color:#fff;
    border-color:#fff;
    color:#18bc9c;
}
.btn-success:hover{
    background-color:#128F76;
    border-color:#128F76;
}
.form-control{
    color:#fff;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}


/**
*FOOTER
**/

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    padding-top: 15px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    opacity: 0.4;
}

.scroll-top .btn:focus {
    outline: 0;
}

.scroll-top .btn:hover {
    opacity: 1;
}

/**
*PORTFOLIO-MODAL
**/
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/**
*SLIDE PORTFOLIO
**/

.image .slideBottom{
    height: 0;
}

div.image {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-right: 10px;
    width:100%;
}

img {
    position: relative;
    left: 0;
    top: 0;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.neigh{
    background-color: rgba(44,62,80,0.1);
    border-radius: 9px;
    padding: 0px 10px 10px 10px;
    margin: -3px auto 0 auto;

}

.neigh img {
    margin: 0 auto;
}

.title{
    white-space:nowrap;
}

.tab{
    margin-top:50px;
}

.tab>ul>li {
    display:inline;
    list-style: none;
    border-style: solid solid none solid;
    border-color: rgba(44,62,80,0.1);
    border-width:1px;
    margin-left: -5px;
    padding: 8px 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.active {
    background-color: rgba(44,62,80,0.1);
    color:#2C3E50;
}

.tab>ul>li>h4{
    cursor:pointer;
    margin:0;
    padding:0;
    display:inline;
}
.tab>ul>li:hover{
    background-color: rgba(44,62,80,0.1);
    color:#2C3E50;
}
div.image.slideBottom:hover span {
    bottom: 0px;

    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.logo {
    background: url('../img/logo.png');
    background-size: cover;
    width: 62px;
    height: 55px;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    float: left;
    margin-right: 0px;
}
.navbar-brand {
    font-size: 25px;
    margin-top: -1px;
    text-transform: uppercase;
    color: white;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.center {
    display: block;
    width: 300px;
    margin: 0 auto;
}
div.image.slideBottom span {
    height: 200px;
    max-width: 400px;
    bottom: -175px;
}

.btn-group-nav {
    margin-top: 7px;
}

.intro-text .login-page{
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform:translateY(-50%);
    position: relative;
    top: 0%;
}
@media(max-width: 1000px){
    .tab>ul>li>h4{
        font-size: 17px;
    }

}
@media(max-width: 480px){
    .tab>ul>li{
        display:block;
        margin:0;
        border-bottom-style: solid;
        border-radius: 9px;
    }
    .neigh{
        margin-top: 0px;
    }
}
header .intro-text-team{
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    padding-bottom: 55px;
    min-width: 120px;
}

.team {
    text-align: center;
    display: inline-block;
}

.team img {
    float: left;
    width: 105px;
    padding: 5px;
    margin-bottom: 0px;
}

.team p {
    font-size: 15px;
    min-height: 100px;
}

.team h3 {
    padding: 5px;
    padding-top: 10px;
    text-align: left;
}

.team-profile {
    display: inline-block;
    margin:0 auto;
    position: relative;
    width: 320px;
    min-height: 100px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

@media(max-width: 767px) {
    .team img {
        float: left;
        width: 61px;
        padding: 5px;
        margin-bottom: 0px;
    }
    header .intro-text-team {
    font-size: 20px;
}
    .team h2 {
        font-size: 20px;
    }
    
    .team h3 {
        font-size: 17px;
        margin: 0;
    }
    
    .team-profile {
        width: 100%;
    }
}

@media(max-width: 480px){
    .team {
        width: 300px;
    }
}
/**
*ADMINISTRATION
**/
.intro-text-admin{
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    padding-bottom: 55px;
    min-width: 700px;
}
.intro-text-admin thead>tr>th{
    font-size: 20px;
}

.intro-text-admin tbody>tr>td{
    text-align:left;
    font-size:15px;
    text-decoration: none;
}
.intro-text-admin tbody>tr:hover,
.intro-text-admin tbody>tr:hover>td>a>i{
    color:#2C3E50;
}
.intro-text-admin tbody>tr>td>a>i{
    color:#fff;
}/*
#info{
    margin-top: 130px;
}*/
#central{
    margin-left: 8%;
}
@media(max-width:2500px){
    #info>div>div{
        padding-left: 0px;       
    }
    #info>div{
        width:20%;
    }
}

@media(max-width:760px){
    .sidebar{
        padding:0;
        margin:0;
    }
    #central{
        margin: auto 0;
        padding: auto 0
    }
    #info{
        display:inline;
    }
    .intro-text-admin{
        min-width: 100px;
    }
}
@media(max-width:1200px){
    
    #info>div{
        width:100%;
        margin-left: 0;
        padding-left: 0;
    }
    #info{
        margin: 0;
        padding: 0;
    }
    #info .sidebar{
        margin-left:25px;
        padding:0px;
    }
    .adjustement{
        height:700px;
        width:100%;

        background-color: #2c3e50;
    }
    #central{
        margin-left: 10px;
    }
    .row>#menu{
        margin-left: 5px;
        padding-right: 20px;
    }
    .moderationqueue-wrapper>.content{
        margin-top:-100px;
    }
    .moderationqueue-wrapper>.title{
        margin-top:-70px;
    }
}


.intro-text-admin-right{
    margin-top: 10px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    padding-bottom: 15px;
    min-width: 210px;
    padding-top:5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sidebar{
    margin-right: 10px;
    margin-left: 100px;
    padding-left:250px; 
}
.moderationqueue-wrapper{
    padding-top: 150px;
}
.intro-text-admin-right>ul>li>a{
    font-size:15px;
    color:#fff;
}
.intro-text-admin-right>ul>li{
    list-style: none;
    text-align: left;
}

header .intro-text-team {
    font-size: 15px;
}

.intro-text-admin-menu{  
    height:100%;  
    list-style: none;
    margin-left:5px;
    margin-top: 140px;
    color:#fff;
    background:rgba(35,49,64,.8);
    border-radius: 20px;
    min-width: 250px;
    text-align: left;
}
.intro-text-admin-menu>ul{
    list-style: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.intro-text-admin-menu>ul>li{
    margin-top:5px;
}
.intro-text-admin-menu>ul>li>ul{
    list-style: none;
    font-size:15px;
}
.intro-text-admin-menu a{
    color:#fff;    
}
#menu{    
    padding-right: 50px;
}


/**
*PROFILE
**/
#profile-wrapper{
    width:100%;
    height:650px;
}
.profile-pic>img{
    width:400px;
    height: 400px;
}
.profile-pic{
    margin-left: 6%;
    margin-top:  7%;
}
#profile-wrapper>div{
    display:inline-block;
    float:left;
}
#profile-wrapper fieldset{
    margin-top:20%;
}
#profile-wrapper .log-form{
    height:100%;
    width:50%;
    margin-left: 100px;
    padding-left: 0px;
    border-style:none none none solid;
    border-color:#fff;
    border-width: 1px;
}
#profile-intro{
    width:100%;    
}
.fa-calendar{
    font-size: 20px;
    padding-top:2px;
    background-color: #fff;
}

/*
.profile-pic > img,
.profile-pic > div {
    display:block;
}*/


@media(max-width: 767px) {
    .downarrow {
        position: absolute;
        bottom: 15px;
        left: 15px;
        margin-left: 10px;
    }
}

@media(max-width: 480px) {
    .well {
        padding: 0px 15px 0px 15px;
    }

    .span12 h2 {
        margin-top: 0;
    }

    .span12 p {
        font-size: 17px;
    }
    .downarrow {
        position: absolute;
        left: 15px;
        xbottom: -30px;

    }
}

#photocredit {
    margin-top: -15px;
    margin-left: 3px;
    bottom: 0px;
    right: 0px;
    color: white;
}